<p>Your order was successful</p>
<p>Total: $<%=@order.total()%></p>
<p>We're now making your Pizza!</p>
<img src="https://images.pexels.com/photos/724212/pexels-photo-724212.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350" style="width:350px;height:400px;">
