<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title>Pizza Shop</title>
</head>
<body>
  <div class="header">
  <nav>
    <ul>
      <li>
        <a href ="/pizza_orders">Pizza Orders</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href= "/pizza_orders/new"> NEW ORDER</a>
      </li>
    </ul>
  </nav>
  </div>
  <div class="yield-info">
  <%= yield %>
  </div>
</body>
</html>
